#nav-row {
    display: flex;
    justify-content: flex-end;
}
#nav-button-container {
    min-height: 48px;
    display: flex;
    margin: 10px;
}
#sign-in-button-container {
    max-width: 200px;
}
#sign-in-button {
    display: flex;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #1a73e8;
    color: white;
    border-radius: 5px;
}
#sign-in-button:hover {
    background-color: #4790f9;
}
#logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}
#logo-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#google-logo {
    max-width: 100%;
}
#searchbar-row {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
#searchbar-outer {
    height: 44px;
    max-width: 450px;
    width: 440px;
    border: 1px solid rgb(200,200,200);
    border-radius: 22px;
}
#searchbar-outer:hover {
    box-shadow: 2px 2px 5px rgb(200,200,200);
    cursor: text;
}