:root {
    --blue: #4285f4;
    --red: #ea4335;
    --yellow: #fbbc05;
    --green: #34a853;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#nav-row {
    display: flex;
    padding: 5px;
    width: 100;
    justify-content: space-between;
    align-items: center;
}
.header-link-box {
    padding: 3px 10px;
}
#nav-right-wrapper {
    display: inline-block;
    flex-grow: 1;
}
#nav-right {
    display: flex;
    float: right;
    height: 48px;
    padding: 0 5px;
}
.left-most {
    margin: 0 0 0 15px;
}
#nav-button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
#hmail-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.header-link {
    text-decoration: none;
    font-size: 9pt;
    color: inherit;
    padding: 0 25px 0 0;
}
.header-link-left {
    text-decoration: none;
    font-size: 10pt;
    padding: 5px 10px;
    color: inherit;
}
.header-link:hover {
    text-decoration: underline;
}
.header-link-left:hover {
    text-decoration: underline;
}
.extras-dongle {
    width: 36px;
    height: 36px;
    margin: 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.extras-dongle:hover {
    background-color: rgb(230,230,230);
}
.extras {
    max-width: 20px;
    color: #5f6368;
}
svg {
    fill: currentColor;
}
#sign-in-button-container {
    max-width: 200px;
    display: flex;
    align-items: center;
    text-align: center;
}
#sign-in-button {
    display: flex;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #1a73e8;
    color: white;
    border-radius: 5px;
}
#sign-in-button:hover {
    background-color: #4790f9;
}
#logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    max-width: 100%;
}
#logo-row {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;
    margin: 0 0 10px;
}
#google-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    max-width: 100%;
}
#logo {
    font-size: 85pt;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}
.blue {
    color: var(--blue);
}
.red {
    color: var(--red);
}
.yellow {
    color: var(--yellow);
}
.green {
    color: var(--green);
}
#searchbar-row {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
#searchbar-outer {
    height: 44px;
    max-width: 450px;
    width: 440px;
    border-radius: 22px;
    display: flex;
    align-items: center;
}
#searchbar-outer:hover {
    box-shadow: 1px 1px 5px rgb(180,180,180);
    border-color: white;
    cursor: text;
}
#searchhog-img-container {
    height: 100%;
    margin: 5px;
}
#searchhog-img {
    max-height: 100%;
    border-radius: 50%;
}
#searchbar-inner {
    width: 80%;
}
#search {
    border: none;
    padding: 12px 0;
    height: 100%;
    width: 100%;
}
#search:focus {
    outline: none;
}
.search-blur {
    box-shadow: none;
    border: 1px solid rgb(200,200,200);
}
.search-focus {
    box-shadow: 1px 1px 5px rgb(180,180,180);
    border: 1px solid white;
}
.search-hover {
    box-shadow: 1px 1px 5px rgb(180,180,180);
    border: 1px solid white;
}
.search-off {
    box-shadow: none;
    border: 1px solid rgb(200,200,200);
}
#search-button-row {
    height: 80px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.search-button {
    box-sizing: border-box;
    margin: 0 10px;
    padding: 0 10px;
    text-align: center;
    height: 35px;
    background-color: rgb(240,240,240);
    border: 1px solid rgb(240,240,240);
    border-radius: 4px;
}
.search-button:hover {
    border: 1px solid rgb(200,200,200);
    box-shadow: 1px 1px 3px rgb(220,220,220);
    cursor: pointer;
}

#language-row {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px 0;
    flex-grow: 1;
}
#language-wrapper {
    font-size: 12px;
}
.footer {
    display: flex;
    padding: 20px;
    font-size: 12px;
    color: rgb(100,100,100);
    border-bottom: 1px solid rgb(200,200,200);
    background-color: #f2f2f2;
    flex-shrink: 0;
}
.footer-link {
    text-decoration: none;
    color: inherit;
    padding: 0 5px;
}
.footer-link:hover {
    text-decoration: underline;
}
#about-and-settings {
    display: flex;
    justify-content: space-around;;
}